@model IEnumerable<ToDoProjeto.ViewModels.Tarefas.TarefaViewModel>
@using static ToDoProjeto.Views.Shared.Enums.Status

@{
	ViewData["Title"] = "Tarefas";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var ListaTitulo = ViewData["ListaTitulo"] as ListaDeTarefa;	
}
<head>
	<meta charset="utf-8" />    
    <title>@ViewData["Title"] - Tarefas</title>
</head>
<body>	
		<h1>@ListaTitulo.Nome</h1>
		@DateTime.Now.ToString("dddd, dd MMMM")
		<br>
		<br>
		<div asp-controller="Tarefas" asp-action="Edit">
			<input class="novaTarefa" href="#" placeholder=" + Adicionar uma tarefa" maxlength="255"><br>	
			<div class="itens">																							
				@foreach (var item in Model)
				{	
					@if (item.Status == Finalizado)
					{
						<div class="row pb-3 pt-3 border-bottom">
							<svg height="24" width="24" viewBox="0 0 24 24">
								<circle class="circulo" cx="10" cy="10" r="8" stroke="gray" stroke-width="1" fill="gray" data="@item.Id"></circle>
							</svg>
							<div class="tarefa ml-3" id="tarefa" data="@item.Id" descricao="@item.Descricao" status="@item.Status" style="text-decoration: line-through">@item.Descricao</div>	
						</div>						
					}	
					else if (item.Status == EmAberto)
					{
						<div class="row pb-3 pt-3 border-bottom">
							<svg height="24" width="24" viewBox="0 0 24 24">
								<circle class="circulo" cx="10" cy="10" r="8" stroke="gray" stroke-width="1" fill="white" data="@item.Id"></circle>
							</svg>
							<div class="tarefa ml-3" id="tarefa" data="@item.Id" descricao="@item.Descricao" status="@item.Status">@item.Descricao</div>	
						</div>						
					}				
										
				}
			</div>	
		</div>			

<style>
input{       
        border: 0px;
    	outline: 0px;       
}
circle.preenchimento{
	fill: gray;
}
div.tarefa.decoration{
	text-decoration: line-through;
}
div.tarefaDinamico.decoration{
	text-decoration: line-through;
}
</style>

@section scripts{
	<script type="text/javascript">
		$(document).ready(function () {			
			let id;	
			let atributo;
			let data;	
			let item;
			let idDinamico;		

			$(".novaTarefa").keypress(function(e) {        
        		if(e.which == 13) {                
            		let descricaoTarefa = $(this).val();
					$.ajax({
                    		method: "POST",
                    		url:'@Url.Action("Create", "Tarefas")',
                    		data: {Descricao: descricaoTarefa, Status: 0, ListaDeTarefaId: @ListaTitulo.Id }
					}).done(function (resposta) {
                        CriaTarefa(resposta);
                    }); 
					function CriaTarefa(tarefa){											
						var descricao = tarefa.descricao;	
						id = tarefa.id;					
						$(".itens").append('<div class="row pb-3 pt-3 border-bottom"><svg height="24" width="24" viewBox="0 0 24 24"><circle class="circuloDinamico" cx="10" cy="10" r="8" stroke="gray" stroke-width="1" fill="white" data-hash="' + id + '"></circle></svg><div class="tarefaDinamico ml-3" id="tarefa" data-hash="' + id + '" descricao="' + descricao +'" status="EmAberto">' + descricao + '</div></div>');																	
						$(".novaTarefa").val("");
					}					
				}
			});

			$(document).on('click', '.circulo', function () {	
				item = $(this).attr("data");			
				$(".circulo[data=" + item + "]").toggleClass("preenchimento");				
				$(".tarefa[data=" + item + "]").toggleClass("decoration");	
				AlteraStatus();			
			});

			function AlteraStatus(){
			
					var descricao = $(".tarefa[data=" + item + "]").attr("descricao");
					var status = $(".tarefa[data=" + item + "]").attr("status");

					if(status == "EmAberto")
					{
						$.ajax({
						method: "POST",
						url:'@Url.Action("Status", "Tarefas")',
                    	data: {Id: item, Descricao: descricao, Status: 1, ListaDeTarefaId: @ListaTitulo.Id},
						success: function() {   
								location.reload();  
							} 
						});
					}
					else if(status == "Finalizado")
					{
						$.ajax({
						method: "POST",
						url:'@Url.Action("Status", "Tarefas")',
                    	data: {Id: item, Descricao: descricao, Status: 0, ListaDeTarefaId: @ListaTitulo.Id},
						success: function() {   
								location.reload();  
							}
						});
					}										
				
			};

			$(document).on('click', '.circuloDinamico', function () {				
				idDinamico = $(this).attr("data-hash")												
				$(".circuloDinamico[data-hash=" + idDinamico + "]").toggleClass("preenchimento");				
				$(".tarefaDinamico[data-hash=" + idDinamico + "]").toggleClass("decoration");
				AlteraStatusDinamico();
			});	

			function AlteraStatusDinamico(){
			
					var descricao = $(".tarefaDinamico[data-hash=" + idDinamico + "]").attr("descricao");
					var status = $(".tarefaDinamico[data-hash=" + idDinamico + "]").attr("status");

					if(status == "EmAberto")
					{
						$.ajax({
						method: "POST",
						url:'@Url.Action("Status", "Tarefas")',
                    	data: {Id: idDinamico, Descricao: descricao, Status: 1, ListaDeTarefaId: @ListaTitulo.Id},
						success: function() {   
								location.reload();  
							} 
						});
					}
					else if(status == "Finalizado")
					{
						$.ajax({
						method: "POST",
						url:'@Url.Action("Status", "Tarefas")',
                    	data: {Id: idDinamico, Descricao: descricao, Status: 0, ListaDeTarefaId: @ListaTitulo.Id},
						success: function() {   
								location.reload();  
							}
						});
					}										
				
			};


			$(document).on('contextmenu', "div[id=tarefa]", function(e) {
        		var top = e.pageY - 10;
        		var left = e.pageX - 10;
				atributo = $(this).attr("class");
				data = $(this).attr("data");									
        
    			$("#context-menu").css({
        			display: "block",
        			top: top,
        			left: left
    			}).addClass("show");
    				return false; 
    		})

    		$(".container").on("click", function() {
    			$("#context-menu").removeClass("show").hide();
    		});

    		$("#context-menu a").on("click", function() {
    			$(this).parent().removeClass("show").hide();
    		});	


			$(document).on('click', '.excluirTarefa', function(){
				if(atributo === "tarefaDinamico ml-3"){
					$.ajax({
                    		method: "POST",
                    		url:'@Url.Action("Delete", "Tarefas")',
                    		data: {Id: id },
							success: function() {   
								location.reload();  
							}
					});
				}
				else if(atributo === "tarefa ml-3")
				{
					$.ajax({
                    		method: "POST",
                    		url:'@Url.Action("Delete", "Tarefas")',
                    		data: {Id: data },
							success: function() {   
								location.reload();  
							}							
					});
				}
				
			});			

		});
	</script>
}
</body>
