@model IEnumerable<ToDoProjeto.ViewModels.Tarefas.TarefaViewModel>

@{
	ViewData["Title"] = "Tarefas";
	//Layout = "~/Views/Shared/_Layout.cshtml";
	var ListaTitulo = ViewData["ListaTitulo"] as ListaDeTarefa;	
}
<head>
	<meta charset="utf-8" />    
    <title>@ViewData["Title"] - Tarefas</title>
</head>
<body>	
		<h1>@ListaTitulo.Nome</h1>
		@DateTime.Now.ToString("dddd, dd MMMM")
		<br>
		<br>
		<div asp-controller="Tarefas" asp-action="Edit">
			<input class= "novaTarefa" href="#" placeholder=" + Adicionar uma tarefa" maxlength="255"><br>	
			<div class="itens">																							
				@foreach (var item in Model)
				{
					<div class="pb-3 pt-3 border-bottom">
						<div>@item.Descricao</div>	
					</div>
				}
			</div>	
		</div>																									
	

<style>
input{       
        border: 0px;
    	outline: 0px;       
}
</style>
@section scripts{
	<script type="text/javascript">
		$(document).ready(function () {
			$(".novaTarefa").keypress(function(e) {        
        		if(e.which == 13) {                
            		let descricaoTarefa = $(this).val();
					$.ajax({
                    		method: "POST",
                    		url:'@Url.Action("Create", "Tarefas")',
                    		data: {Descricao: descricaoTarefa, Status: 0, ListaDeTarefaId: @ListaTitulo.Id }
					}).done(function (resposta) {
                        CriaTarefa(resposta);
                    }); 
					function CriaTarefa(tarefa){
						let descricao = tarefa.descricao;
						$(".itens").append('<div class="pb-3 pt-3 border-bottom">' + descricao + '</div>');
						$(".novaTarefa").val("");
					}
					
				}
			});
		});
	</script>
}
</body>
