@model IEnumerable<ToDoProjeto.ViewModels.Tarefas.TarefaViewModel>

@{
	ViewData["Title"] = "Tarefas";
	//Layout = "~/Views/Shared/_Layout.cshtml";
	var ListaTitulo = ViewData["ListaTitulo"] as ListaDeTarefa;	
}
<head>
	<meta charset="utf-8" />    
    <title>@ViewData["Title"] - Tarefas</title>
</head>
<body>	
		<h1>@ListaTitulo.Nome</h1>
		@DateTime.Now.ToString("dddd, dd MMMM")
		<br>
		<br>
		<div asp-controller="Tarefas" asp-action="Edit">
			<input class="novaTarefa" href="#" placeholder=" + Adicionar uma tarefa" maxlength="255"><br>	
			<div class="itens">																							
				@foreach (var item in Model)
				{					
					<div class="row pb-3 pt-3 border-bottom">
						<svg height="24" width="24" viewBox="0 0 24 24">
  							<circle class="circulo" cx="10" cy="10" r="8" stroke="gray" stroke-width="1" fill="white" data="@item.Id"></circle>
						</svg>
						<div class="tarefa ml-3" data="@item.Id">@item.Descricao</div>	
					</div>
				}
			</div>	
		</div>	

<style>
input{       
        border: 0px;
    	outline: 0px;       
}
circle.preenchimento{
	fill: gray;
}
div.tarefa.decoration{
	text-decoration: line-through;
}
div.tarefaDinamico.decoration{
	text-decoration: line-through;
}
</style>

@section scripts{
	<script type="text/javascript">
		$(document).ready(function () {
			var listaHash = [];		

			$(".novaTarefa").keypress(function(e) {        
        		if(e.which == 13) {                
            		let descricaoTarefa = $(this).val();
					$.ajax({
                    		method: "POST",
                    		url:'@Url.Action("Create", "Tarefas")',
                    		data: {Descricao: descricaoTarefa, Status: 0, ListaDeTarefaId: @ListaTitulo.Id }
					}).done(function (resposta) {
                        CriaTarefa(resposta);
                    }); 
					function CriaTarefa(tarefa){
						let hash = new Date().getTime().toString();
						listaHash.push(hash);
						let descricao = tarefa.descricao;						
						$(".itens").append('<div class="row pb-3 pt-3 border-bottom"><svg height="24" width="24" viewBox="0 0 24 24"><circle class="circuloDinamico" cx="10" cy="10" r="8" stroke="gray" stroke-width="1" fill="white" data-hash="#"></circle></svg><div class="tarefaDinamico ml-3" data-hash="#">' + descricao + '</div></div>');												
						$(".circuloDinamico").attr("data-hash", hash);
						$(".tarefaDinamico").attr("data-hash", hash);
						$(".novaTarefa").val("");
					}					
				}
			});

			$(document).on('click', '.circulo', function () {	
				let item = $(this).attr("data");			
				$(".circulo[data=" + item + "]").toggleClass("preenchimento");				
				$(".tarefa[data=" + item + "]").toggleClass("decoration");
			});

			$(document).on('click', '.circuloDinamico', function () {	
				let item = $(this).attr("data-hash");							
				$(".circuloDinamico[data-hash=" + item + "]").toggleClass("preenchimento");				
				$(".tarefaDinamico[data-hash=" + item + "]").toggleClass("decoration");
			});

		});
	</script>
}
</body>
